@font-face {
  font-family: 'space';
  src:  url('SpaceAge.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  display: 0;
  background: url(./assets/5445590.jpg) fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}
body{
  background: url(./assets/fond.jpg) no-repeat center 100%/cover;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: space;
  margin: 30px;

}

#alien {
  display: flex;
  justify-self: center;
  margin: auto;
  height: 300px;
  width: auto; 
}

#footer {
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.prenom {
  color: white;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}

.wild {
  margin-left: 10px;
}

.anthony {
  margin-right: 10px;
}

