@media screen and (min-width: 900px){
}
@font-face {
  font-family: 'space';
  src:  url('SpaceAge.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  display: 0;
  background: url(./assets/5445590.jpg) fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}
body{
  background: url(./assets/fond.jpg) no-repeat center 100%/cover;
  height: 100vh;
  overflow: hidden;
}

button {
  height: 45px;
  width: 45px;
  border-radius: 3rem;
  font-size: 250%;
  align-items: center;
}

button:hover{
  cursor: pointer;
}




#openBtn {

  color: red;
  font-weight: bolder;
  background: url("assets/earth.avif");
  background-size: cover;
  position: fixed;
  margin-top: 170px;
  margin-left: 20px;
  
}

#closeBtn {
  display: flex;
  border: solid;
  background: url("assets/mars.avif");
  background-size: cover;
  margin-left: 250px;
  
  
}

dialog {
  width: 20%;
  height: 50%;
  position: absolute;
  top: 30px;
  border-radius: 70px;
  background: url("assets/background.jpg");
  margin-left: 100px;
  margin-top: 250px;
  font-size: 20px;
  padding: 15px;
  text-shadow:
  0 0 6px rgba(202, 228, 225, 0.92),
  0 0 30px rgba(202, 228, 225, 0.34),
  0 0 12px rgba(30, 132, 242, 0.52),
  0 0 21px rgba(30, 132, 242, 0.92),
  0 0 34px rgba(30, 132, 242, 0.78),
  0 0 54px rgba(30, 132, 242, 0.92);
  
}

.button2{
  background: url("assets/wild.png");
  background-size: cover;
  margin-left: 20px;
  margin-top: 110px;


}

h2 {
  font-weight: bolder;
  font-family: 'space';
  color: greenyellow;
}

p {
  font-family: 'space';
  color: greenyellow;
}

h1 {
  color: greenyellow;
  text-align: center;
  font-family: space;
  font-size: 100px;
  text-shadow:
    0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(30, 132, 242, 0.52),
    0 0 21px rgba(30, 132, 242, 0.92),
    0 0 34px rgba(30, 132, 242, 0.78),
    0 0 54px rgba(30, 132, 242, 0.92);
}

#alien {
  display: flex;
  justify-self: center;
  margin: auto;
  height: 400px;
  width: auto; 
}

#footer {
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.prenom {
  color: white;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}

.wild {
  margin-left: 10px;
}

.anthony {
  margin-right: 10px;
}

